MONGO_ROOT_USER=<mongo-username>
MONGO_ROOT_PASSWORD=<mongo-password>

MINIO_ROOT_USER=<minio-username>
MINIO_ROOT_PASSWORD=<minio-password>
MINIO_BROWSER_REDIRECT_URL=<minio-console-public-url>

NEMO_CONTEXT_PATH=<nemo-build-context-path>
